/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/vendor/
/web/bundles/
/web/swagger-ui
tests/_data

.idea
/c3.php
!/var/jwtcertificates/
/var/jwtcertificates/*
!/var/jwtcertificates/public.pem
