# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: DB_PARTNERS
    database_user: root
    database_password: spirit
    mailer_transport: smtp
    # You should uncomment this if you want to use pdo_sqlite
    database_path: '%kernel.project_dir%/tests/_data/test.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    # Commonbundle authentication parameters
    auth_signer_secret: agcv5
    auth_login_path: 'http://api5.audi.dev.agence-one.net/authentication/sso/login'
    auth_logout_path: 'http://api5.audi.dev.agence-one.net/authentication/sso/logout'
    auth_failure_path: 'http://api5.audi.dev.agence-one.net/authentication/sso/login'
    auth_cookie_domain: .audi.dev.agence-one.net
    api_host: api5.audi.dev.agence-one.net

