# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    # Partner DB
    database_name: DB_PARTNERS
    database_user: dev_u_partners
    database_password: spirit
    # User DB
    database_name_user: DEV_DB_USERS
    database_user_user: dev_u_users
    database_password_user: spirit

    mailer_transport: smtp
    # You should uncomment this if you want to use pdo_sqlite
    database_path: '%kernel.project_dir%/tests/_data/test.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    api_host: api5.audi.dev.agence-one.net

    # Related to AGC V4
    v4_database_host: audiwas201.as44099.net
    v4_database_port: 1433
    v4_database_name: AUDI_RECETTE
    v4_database_user: useraudipp
    v4_database_password: 4Hv2Og4L7tsWw

    # rabbitMQ
    rabbitmq_host: rabbitmq5.audi.dev.agence-one.net
    rabbitmq_user: guest
    rabbitmq_password: guest
    env: dev

    guzzle_verify_ssl: true

    # Access Ekino WS
    ekino_base_uri: xxxxx
    ekino_username: audi
    ekino_key: xxxxx

    # Mongo Config
    mullenlowe_common.connection.host: 'mongodb://localhost'
    mullenlowe_common.connection.port: '27017'
    mullenlowe_common.connection.database: 'rmqp_db'
    mullenlowe_common.connection.collection: 'rmqp_collection'
